html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
div, button, input {
    font-family: 'Ubuntu', sans-serif;
}
input[type=text], input[type=password] {
    border: 1px solid #79a6ff;
    background-color: #e5edff;
}
.title-bar {
    margin-top: 190px;
    margin-bottom: 85px;
    text-align: center;
}
.header {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
}
.login-form-cont {
    width: 45%;
    margin: auto;
    font-size: 35px;
}
.login-block.right {
    width: 63%;
    float: right;
}
.login-block.left {
    width: 35%;
    float: left;
    text-align: right;
}
.login-block label {
    display: block;
    line-height: 60px;
}
.login-block input {
    padding-left: 8px;
    font-size: 20px;
    height: 34px;
    width: 280px;
}
.login-block input[type=text] {
    margin-top: 14px;
    margin-bottom: 14px;
}
.login-block input[type=password] {
    margin-bottom: 22px;
}
.login-control {
    clear: both;
    text-align: center;
}
.login-control input {
    font-size: 20px;
    height: 34px;
    width: 96px
}
.hide {
    display: none;
}
.header-bar {
    margin-top: 35px;
    margin-bottom: 55px;
}
.sub-header {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-left: 40%;
}
.register-form-cont {
    width: 55%;
    font-size: 28px;
}
.register-form-cont input[type=password] {
    margin-top: 23.5px;
}
.register-block {
    float: right;
    width: 62%;
}
.register-block input[type=text] {
    width: 350px;
    height: 32px;
    font-size: 18px;
    padding-left: 8px;
    margin-top: 14px;
}
.register-block input[type=password] {
    width: 350px;
    height: 32px;
    font-size: 18px;
    padding-left: 8px;
    margin-top: 14px;
}
.register-btn-group {
    padding-top: 15px;
}
.register-btn-group input[type=button] {
    width: 95px;
    height: 35px;
    font-size: 20px;
    margin-right: 10px;
}
