html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
div, button {
    font-family: 'Ubuntu', sans-serif;
}
input {
    padding: 2px 2px 2px 4px;
    margin: 3px;
}
input[type=text], input[type=date], select {
    height: 26px;  
    font-size: 15px;
    border: 1px solid #79a6ff;
    background-color: #e5edff;
}
input[type=color] {
    height: 26px;  
    font-size: 15px;
    border: 1px solid #79a6ff;
    background-color: #e5edff;
}
textarea {
    border: 1px solid #79a6ff;
    background-color: #e5edff;
}
.header {
    width: 100%;
    padding-left: 35px;
    padding-top: 7px; 
    padding-bottom: 14px;
}
.header h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.btn-lg {
    font-size: 22px;
    height: 45px;
    min-width: 180px;
}
.btn-md {
    font-size: 18px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
h3 {
    font-family: 'Roboto', sans-serif;
}
.header-message {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 20px;
    left: 370px;
}
.main-viewport {
    height: 100%;
    font-family: sans-serif, 'sans', arial;
}
.side-panel {
    width: 30%;
    float: left;
    height: 100%;
    background-color: #79a6ff;
}
.filter-block {
    padding-bottom: 10px;
}
.main-panel {
    overflow: auto;
    height: 88.2%;
    width: 70%;
    float: right;
    background-color: #eec4ff
}
.reports-wrapper {
    margin: 15px;
}
.details-section-header {
    display: inline;
    position: relative;
    z-index: 30;
    background-color: #eec4ff;
    padding-right: 4px;
}
.border-bottom {
    border-bottom: 1px solid grey;
}
.header-line {
    border-top: 1px solid grey;
    position: relative;
    z-index: 10;
    top: -12px;
}
.bugreports {
    border-collapse: collapse;
    width: 100%;
}

.bugreports th, td {
    text-align: left;
    padding: 8px;
}

.bugreports tr {
    cursor: pointer;
}

.bugreports tr:hover {
    background-color: #c4d7ff;
}

tr:nth-child(even){
    background-color: #98b9ff
}
.new-bug-report-dialog {
    position: absolute;
    width: 600px;
    top: 200px;
    left: 636px;
    background-color: #d0e9ff;
    -webkit-box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.72);
    box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.72);
    z-index: 40;
}
.new-bug-report-dialog-title {
    background-color: #2e57ea;
    margin: 0;
    padding: 7px;
    color: #fff;
}
.dialog-cont {
    padding: 5px;
}
.label-creator input[name=label-color] {
    position: relative;
    top: 3px;
    left: -5px;
    width: 23px;
}
.bug-report-title {
    display: inline-block;
    margin-top: 0;
    margin-right: 10px;
}
.dialog-bug-description {
    margin: 0px;
    height: 200px;
    width: 585px;
}
.dialog-close-btn {
    float: right;
    cursor: pointer;
    padding-top: 2px;
    padding-right: 2px;
}
input[name=desiredResolutionDate] {    
    width: 163.7px;
    margin-right: 0;
}
.submit-a-bug-cont {
    text-align: center;
    padding-top: 10px;
}
.label-creator {
    margin-top: 15px;
    margin-bottom: 15px;
}
.labels-area {
    height: 35px;
    padding-bottom: 7px;
}
.add-label {
    position: relative;
    cursor: pointer;
    top: 4px;
    left: 4px;
    color: #2249d6;
    font-size: 1.5em;
}
.bug-label {
    display: inline-block;
    height: 21px;
    font-size: 13px;
    font-style: italic;
    border-radius: 7px;
    padding: 10px 10px 6px 8px;
    margin: 4px;
}
.bug-label-remove-btn {
    float: right;
    font-size: 18px;
    font-style: normal;
    padding-left: 8px;
    margin-left: 7px;
}
.detail-label {
    font-weight: bold;
}
input[type=text].title-input {
    display: inline;
    height: 55px;
    padding-left: 10px;
    font-size: 1.5em;
    font-weight: bold;
}
.info-toast {
    border: 2px solid #2e57ea;
    opacity: 0;
    position: fixed;
    width: 300px;
    height: 80px;
    right: 20px;
    bottom: 20px;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}
.toast-success {
}
div.toast-success > i {
    color: green;
    padding-top: 24px;
    padding-left: 24px;
}
div.toast-success > div {
    margin-top: -35px;
    padding: 1px 15px 0 68px;
}
.toast-failure {
}
div.toast-failure > i {
    color: red;
    padding-top: 24px;
    padding-left: 24px;
}
div.toast-failure > div {
    margin-top: -35px;
    padding: 1px 15px 0 68px;
}
.appear-slow {
    z-index: 55;
    opacity: 1;
}
.dialog-message {
    padding: 10px;
}
.dialog-buttons {
    text-align: center;
    padding-bottom: 10px;
}