body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
div, button {
    font-family: 'Ubuntu', sans-serif;
}
.header {
    width: 100%;
    padding-left: 35px;
    padding-top: 7px; 
    padding-bottom: 7px;
}
.header h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.btn-lg {
    font-size: 22px;
    height: 45px;
    width: 180px;
}
.btn-md {
    font-size: 18px;
    height: 40px;
    width: 100px;
}
h3 {
    font-family: 'Roboto', sans-serif;
}
.header-message {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 20px;
    left: 370px;
}
.main-viewport {
    height: 100%;
    font-family: sans-serif, 'sans', arial;
}
.side-panel {
    width: 30%;
    float: left;
    height: 100%;
    background-color: #79a6ff;
}
.filter-block {
    padding-bottom: 10px;
}
.main-panel {
    height: 100%;
    width: 70%;
    float: right;
    background-color: #eec4ff
}
.reports-wrapper {
    margin: 15px;
}

.bugreports {
    border-collapse: collapse;
    width: 100%;
}

.bugreports th, td {
    text-align: left;
    padding: 8px;
}

.bugreports tr {
    cursor: pointer;
}

.bugreports tr:hover {
    background-color: #c4d7ff;
}

tr:nth-child(even){
    background-color: #98b9ff
}
.new-bug-report-dialog {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 300px;
    left: 500px;
    background-color: #d0e9ff;
}
.new-bug-report-dialog-title {
    background-color: #2e57ea;
    margin: 0;
    padding: 7px;
    color: #fff;
}
.dialog-cont {
    padding: 5px;
}
.dialog-bug-description {
    margin: 0px;
    height: 200px;
    width: 585px;

}
.dialog-close-btn {
    float: right;
    cursor: pointer;
}