body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
div, button {
    font-family: 'Ubuntu', sans-serif;
}
.header {
    width: 100%;
    padding-left: 35px;
    padding-top: 7px; 
    padding-bottom: 7px;
}
.header h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.report-a-bug {
    font-size: 22px;
    height: 45px;
    width: 180px;
}
h3 {
    font-family: 'Roboto', sans-serif;
}
.header-message {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 20px;
    left: 370px;
}
.main-viewport {
    height: 100%;
    font-family: sans-serif, 'sans', arial;
}
.side-panel {
    width: 30%;
    float: left;
    height: 100%;
    background-color: #6094fa;
}
.filter-block {
    padding-bottom: 10px;
}
.main-panel {
    height: 100%;
    width: 70%;
    float: right;
    background-color: #df94ff;
}
.reports-wrapper {
    margin: 15px;
}

.bugreports {
    border-collapse: collapse;
    width: 100%;
}

.bugreports th, td {
    text-align: left;
    padding: 8px;
}

.bugreports tr {
    cursor: pointer;
}

.bugreports tr:hover {
    background-color: #c4d7ff;
}

tr:nth-child(even){background-color: #98b9ff}


