body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
div, button {
    font-family: 'Ubuntu', sans-serif;
}
.header {
    width: 100%;
    padding-left: 35px;
    padding-top: 7px; 
    padding-bottom: 7px;
}
.header h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.btn-lg {
    font-size: 22px;
    height: 45px;
    width: 180px;
}
.btn-md {
    font-size: 18px;
    height: 40px;
    width: 100px;
}
h3 {
    font-family: 'Roboto', sans-serif;
}
.header-message {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 20px;
    left: 370px;
}
.main-viewport {
    height: 100%;
    font-family: sans-serif, 'sans', arial;
}
.side-panel {
    width: 30%;
    float: left;
    height: 100%;
    background-color: #79a6ff;
}
.filter-block {
    padding-bottom: 10px;
}
.main-panel {
    height: 100%;
    width: 70%;
    float: right;
    background-color: #eec4ff
}
.reports-wrapper {
    margin: 15px;
}

.bugreports {
    border-collapse: collapse;
    width: 100%;
}

.bugreports th, td {
    text-align: left;
    padding: 8px;
}

.bugreports tr {
    cursor: pointer;
}

.bugreports tr:hover {
    background-color: #c4d7ff;
}

tr:nth-child(even){
    background-color: #98b9ff
}
.new-bug-report-dialog {
    position: absolute;
    width: 600px;
    height: 480px;
    top: 200px;
    left: 636px;
    background-color: #d0e9ff;
}
.new-bug-report-dialog-title {
    background-color: #2e57ea;
    margin: 0;
    padding: 7px;
    color: #fff;
}
.dialog-cont {
    padding: 5px;
}
.dialog-bug-description {
    margin: 0px;
    height: 200px;
    width: 585px;

}
.dialog-close-btn {
    float: right;
    cursor: pointer;
}
.submit-a-bug-cont {
    text-align: center;
    padding-top: 10px;
}
.label-creator {
    margin-top: 15px;
    margin-bottom: 15px;
}
.labels-area {
    height: 35px;
}
.bug-label {
    display: inline-block;
    font-size: 13px;
    font-style: italic;
    border-radius: 7px;
    padding-top: 3px;
    padding-left: 6px;
    padding-bottom: 4px;
    margin: 4px;
}
.bug-label-remove-btn {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    border: 2px solid gray;
    border-radius: 12px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-left: 8px;
    margin-left: 7px;
    margin-right: 6px;
}